
<header  style="background-color: #CFF4FC;" class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <!-- <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      </a> -->

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 text-secondary">Ana Sayfa</a></li>
        <li><a href="#" class="nav-link px-2 text-secondary">Features</a></li>
        <li><a href="#" class="nav-link px-2 text-secondary">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 text-secondary">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 text-secondary">Hakkında</a></li>
        <div>
        <li class="nav-item dropdown">
          <a  class="nav-link dropdown-toggle navbar" id="navbarDarkDropdownMenuLink" role="button"  data-bs-toggle="dropdown" aria-expanded="false">
            Ekle
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a routerLink="cars/carAdd" class="dropdown-item" href="#">Araç Ekle</a></li>
            <li><a routerLink="cars/brandAdd" class="dropdown-item" href="#">Marka Ekle</a></li>
            <li><a routerLink="cars/colorAdd" class="dropdown-item" href="#">Renk Ekle</a></li>
          </ul>
        </li>
      </div>
      </ul>

      <form class=" col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control form-control-dark" placeholder="Search...">
      </form>

      <div class="text-end">
        <button routerLink="login" style="margin-right: 0.2cm;" type="button" class="btn btn-info">Giriş Yap</button>
        <button routerLink="register" type="button" class="btn btn-warning">Kayıt Ol</button>
      </div>
    </div>
  </div>
</header>