
<header  style="background-color: #CFF4FC;" class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <!-- <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      </a> -->

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="" class="nav-link px-2 text-secondary">Ana Sayfa</a></li>
        <li><a href="#" class="nav-link px-2 text-secondary">Hakkında</a></li>
        <div *ngIf="checkToEmail()==true">
        <li class="nav-item dropdown">
          <a  class="nav-link dropdown-toggle navbar" id="navbarDarkDropdownMenuLink" role="button"  data-bs-toggle="dropdown" aria-expanded="false">
            Araç İşlemleri
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a routerLink="cars/list/car" class="dropdown-item" href="#">Araçları Listele</a></li>
            <li><a routerLink="cars/carAdd" class="dropdown-item" href="#">Araç Ekle</a></li>
            <li><a routerLink="cars/carupdate" class="dropdown-item" href="#">Araç Güncelle</a></li>
          </ul>

      </div>
      <div *ngIf="checkToEmail()==true">
        <li class="nav-item dropdown">
          <a  class="nav-link dropdown-toggle navbar" id="navbarDarkDropdownMenuLink" role="button"  data-bs-toggle="dropdown" aria-expanded="false">
            Marka İşlemleri
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a routerLink="cars/list/brand" class="dropdown-item" href="#">Markaları Listele</a></li>
            <li><a routerLink="cars/brandAdd" class="dropdown-item" href="#">Marka Ekle</a></li>
            <li><a routerLink="cars/brandupdate" class="dropdown-item" href="#">Marka Güncelle</a></li>
          </ul>

      </div>
      <div *ngIf="checkToEmail()==true">
        <li class="nav-item dropdown">
          <a  class="nav-link dropdown-toggle navbar" id="navbarDarkDropdownMenuLink" role="button"  data-bs-toggle="dropdown" aria-expanded="false">
            Renk İşlemleri
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a routerLink="cars/list/color" class="dropdown-item" href="#">Renkleri Listele</a></li>
            <li><a routerLink="cars/colorAdd" class="dropdown-item" href="#">Renk Ekle</a></li>
            <li><a routerLink="cars/colorupdate" class="dropdown-item" href="#">Renk Güncelle</a></li>
          </ul>

      </div>
      </ul>

      <form class=" col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control form-control-dark" placeholder="Search...">
      </form>

      <div class="text-white">
        <button *ngIf="checkToLogin()==false" routerLink="login" style="margin-right: 0.2cm;" type="button" class="btn btn-info">Giriş Yap</button>
        <button *ngIf="checkToLogin()==false" routerLink="register" type="button" class="btn btn-warning">Kayıt Ol</button>
        <div *ngIf="checkToEmail()==true"  >
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle navbar" id="navbarDarkDropdownMenuLink" role="button"  data-bs-toggle="dropdown" aria-expanded="false">
              <b>{{user.firstName}} {{user.lastName}}</b>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a routerLink="profil" class="dropdown-item" href="#">Profil</a></li>
              <li><a (click)="logOut()" class="dropdown-item" href="#">Çıkış Yap</a></li>
            </ul>
          </li>
        </div>
      </div>
    </div>
  </div>
</header>