<div style="background-color: #CFF4FC; border-top-left-radius: 0.4cm; border-top-right-radius: 0.4cm; margin-top: 0.30cm; " class="card-header text-center">
    <strong>işlem Özeti</strong>
 </div>

 <div class="container">
     <div class="row">
        <div class="col-md-6">
            <label  style="margin-top: 0.70cm;"  for="price" class="form-label"><b>Günlük Ücret</b></label>
            <input id="price"class="form-control" type="text" placeholder="Günlük Ücret" aria-label="Disabled input example" disabled readonly>
            <label  style="margin-top: 0.70cm;"  for="customerName" class="form-label"><b>Müşteri Adı</b></label>
            <input id="customerName"class="form-control" type="text" placeholder="Müşteri Adı" aria-label="Disabled input example" disabled readonly>
         </div>
         <div class="col-md-6">
            <label style="margin-top: 0.70cm;"  for="rentDate" class="form-label"><b>Kiralama Tarihi</b></label>
            <input id="rentDate" class="form-control" type="text" placeholder="Kiralama Tarihi" aria-label="Disabled input example" disabled readonly>
            <label  style="margin-top: 0.70cm;" for="returnDate" class="form-label"><b>Teslim Tarihi</b></label>
            <input id="returnDate" class="form-control" type="text" placeholder="Teslim Tarihi" aria-label="Disabled input example" disabled readonly>
         </div>
         <label  style="margin-top: 0.70cm;" for="totalPrice" class="form-label"><b style="color: red;">Toplam Ücret</b></label>
         <input id="totalPrice" class="form-control" type="text" placeholder="Toplam Ücret" aria-label="Disabled input example" disabled readonly>
     </div>
 </div>

 <div style="background-color: #CFF4FC; border-top-left-radius: 0.4cm; border-top-right-radius: 0.4cm; margin-top: 1cm; " class="card-header text-center">
    <strong>Ödeme İşlemi</strong>
 </div>

 <div class="container">
    <div class="row">
        <div class="col-12">
            <label style="margin-top: 0.70cm;"  for="inputAddress2" class="form-label"><b>Kart Sahibinin Adı Soyadı</b></label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Kart Sahibinin Adı Soyadı">
          </div>
          <div class="col-md-6">
            <label style="margin-top: 0.70cm;"  for="inputCity" class="form-label"><b>Kart Numarası</b></label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="col-md-3">
            <label style="margin-top: 0.70cm;"  for="inputCity" class="form-label"><b>Son Kullanım Tarihi</b></label>
            <input type="text" placeholder="**/**" class="form-control" id="inputCity">
          </div>
          <div class="col-md-3">
            <label style="margin-top: 0.70cm;"  for="inputZip" class="form-label"><b>Güvenlik Kodu</b></label>
            <input type="text" class="form-control" id="inputZip">
          </div>
          <button style="margin-top: 0.70cm;" type="button" class="btn btn-success">Success</button>

    </div>
</div>



