<div *ngIf="dataLoaded==false" class="spinner-grow text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
<div>

  <app-car-filter></app-car-filter>

  
  <!-- <div class="mb-3">
    <label for="filterText" class="form-label">Ara</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Ara">
  </div>

  <div *ngIf="filterText" class="alert alert-info" >
    Aradığınız ürün : {{filterText}}

  </div> -->
  
  <div style="margin-top:0.3cm; border-radius: 0.4cm;" class="card mb-2">
    <div style="background-color: #CFF4FC; border-top-left-radius: 0.4cm; border-top-right-radius: 0.4cm; " class="card-header text-center">
       <strong>Araç Listesi</strong>
    </div>
    <div class="card-body">

<table style="user-select: none;" *ngIf="dataLoaded==true" class="table table-striped table-hover">

    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Marka Adı</th>
          <th scope="col">Renk Adı</th>
          <th scope="col">Modeli</th>
          <th scope="col">Günlük Ücret</th>
          <th scope="col">Açıklama</th>
          <th></th>
        </tr>
    </thead>
    <tbody>   
    <tr (click)="setCurrentCar(cardetail)" routerLink="/cars/cardetail/{{cardetail.id}}"   *ngFor = "let cardetail of carDetails | filterPipe:filterText ">
        <td>{{cardetail.id}}</td>
        <td>{{cardetail.brandName}}</td>
        <td>{{cardetail.colorName}}</td>
        <td>{{cardetail.modelYear}}</td>
        <td>{{cardetail.dailyPrice |currency:"₺ "}}</td>
        <td>{{cardetail.description}}</td>
        <td><button (click)="delete(cardetail)" type="button" class="btn btn-danger" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg></button></td>
    </tr>
  </tbody> 
</table>