<div class="content">
    <div class="col-md-12">
      <div class="card">
        <div style="background-color: #cff4fc" class="card-header">
          <h1 class="text-center"><b>Renk Ekle</b></h1>
        </div>
        <div class="card-body">
          <form [formGroup]="colorAddForm">
            <div class="mb-3">
              <label style="margin-left: 0.2cm; margin-bottom: 0.20cm;" for="colorName"
                ><b>Renk Adı</b></label>
  
              <div class="form-group">
                <input
                  type="text"
                  id="colorName"
                  formControlName="colorName"
                  class="form-control"
                  placeholder="Renk Adı"
                />
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer d-grid gap-2">
            <button class="btn btn-fill btn-primary" (click)="add()">Ekle</button>
        </div>
      </div>
    </div>
  </div>
  